:root{
         --cor-primaria: #183C63;
         --cor-secundaria: #3782d2;
         --cor-fundo: #ffffff;
         --cor-texto: #151428;
         --cor-contraste: #f3eef7;
         --cor-botao: #f9f9f9;

         --fonte-texto: 'Segoe UI' , sans-serif;
}
*{  
        transition: background-color 0.3s ease;  
}
.tema-escuro {
         --cor-primaria: #A6CEFE;
         --cor-secundaria: #98caff;
         --cor-fundo: #0f172a;
          --cor-texto: #ffffff;
         --cor-contraste: #1e293b
         --cor-botao: #151428;
}
body { 
         max-widht: 100vw;
         font-family: var(--fonte-texto);
         background-color: var(--cor-fundo);
         color: var(
            text-align: center;
            max-widht: 800px;
            margin: 0 auto;
            border: 5px solid #cf1010;
            padding: 16px
             
        }   
          
          main{
           background-color: #FFFFFF;
           color: #183c63;
           text-aling: center;
           max-widht: 800px;
           margin: 0 auto;
           display: flex;
         
      }
  img {
        width: 80px;
        height: 80px;
      }
      .artigo-autor {
         font-weight: bold;
      }
